@font-face {
  font-family: "Russo One";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/russoone/v16/Z9XUDmZRWg6M1LvRYsHOz8mJ.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

html,
body {
  margin: 0px;
  padding: 0px;
}

.homeContainer {
  background-image: url("./assets/wallpaper.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-blend-mode:hard-light;
  background-color: rgb(0, 0, 0);
  height: 100vh;
}

h1 {
  font-family: "Russo One";
  text-shadow: 2px 20px 35px rgb(6, 37, 211);
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  input[type='range'] {
    overflow: hidden;
    width: 80px;
    -webkit-appearance: none;
    background-color: #9a905d;
  }
  
  input[type='range']::-webkit-slider-runnable-track {
    height: 10px;
    -webkit-appearance: none;
    color: red;
    margin-top: -1px;
  }
  
  input[type='range']::-webkit-slider-thumb {
    width: 10px;
    -webkit-appearance: none;
    height: 10px;
    cursor: ew-resize;
    background: #434343;
    box-shadow: -80px 0 0 80px blue;
  }
  .randomiser input[type='range']::-webkit-slider-thumb {
    width: 10px;
    -webkit-appearance: none;
    height: 10px;
    cursor: ew-resize;
    background: #434343;
    box-shadow: -80px 0 0 80px red;
  }
}


.singPokeContainer h2 {
  font-family: "Russo One";
  text-shadow: 2px 20px 35px rgb(6, 37, 211);
}

.greyContainer {
  box-shadow: 2px 2px 20px rgb(6, 37, 211);
}

:where(.css-pr0fja).ant-card-hoverable:hover {
  border-color: transparent;
  box-shadow: 0 10px 20px -20px rgba(6, 37, 211, 0.4), 0 30px 60px 0 rgba(6, 37, 211, 0.4), 0 50px 120px 40px rgba(6, 37, 211, 0.4);
}

.pokeContainer :where(.css-pr0fja).ant-card-hoverable {
  filter: grayscale(1);
}

.pokeContainer :where(.css-pr0fja).ant-card-hoverable:hover {
  filter: grayscale(0);
}

:where(.css-dev-only-do-not-override-pr0fja).ant-card-hoverable:hover {
  border-color: transparent;
  box-shadow: 0 10px 20px -20px rgba(6, 37, 211, 0.4), 0 30px 60px 0 rgba(6, 37, 211, 0.4), 0 50px 120px 40px rgba(6, 37, 211, 0.4);
}

.pokeContainer :where(.css-dev-only-do-not-override-pr0fja).ant-card-hoverable {
  filter: grayscale(1);
}

.pokeContainer
  :where(.css-dev-only-do-not-override-pr0fja).ant-card-hoverable:hover {
  filter: grayscale(0);
}

:where(.css-pr0fja).ant-btn-primary {
background-color: rgb(6, 37, 211);
}

:where(.css-pr0fja).ant-input-affix-wrapper:focus, :where(.css-pr0fja).ant-input-affix-wrapper-focused {
  border-color: rgb(6, 37, 211);
  box-shadow: 0 10px 20px -20px rgba(6, 37, 211, 0.4), 0 30px 60px 0 rgba(6, 37, 211, 0.4), 0 50px 120px 40px rgba(6, 37, 211, 0.4);

}

/* spinner */
.spinner {
  z-index: 2;
  display: flex;
  justify-content: center;
  /* width: 100%; */
  position: absolute;
  right: 40%;
  left: 40%;
  top: 50%;
  animation-name: example;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes example {
100% {transform: rotate(360deg)}
}

/* need to be properly set */
.container-temp-font {
  color: red;
}
